.App {
  text-align: center;
  font-style: Helvetica;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #78a1bb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.App-title {
  color: #e5dcc5;
  font-size: calc(10px + 10vmin);
}



.App-search {
  width: 80vh;
  height: 8vh;
  font-size: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  border-color: white;
}
