.App {
  text-align: center;
  font-style: Helvetica;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  /*background-color: #78a1bb;*/
  background-image: url('./images/background.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 70%;
  background-position-y: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.App-title {
  color:#696969;
  margin-left: 7vmin;
  font-size: calc(10px + 10vmin);
}

.Result-title {
  color:#696969;
  font-size: 40px;
  align-self: center;
}

.App-search {
  width: 80vh;
  height: 8vh;
  font-size: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  border-color: white;
}
