.searchbar-container {
    width: 80vh;
    height: 30vh;
}
.search-form {
  position: relative;
  width:80vh;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  background: #fff;
  transition: all 0.3s ease;

  &.focus {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  }

}

.with-suggestions {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: none;
}

.search-input {
  position: absolute;
  top: 10px;
  left: 38px;
  font-size: 16px;
  background: none;
  color: #5a6674;
  width: 50vh;
  height: 20px;
  border: none;
  appearance: none;
  outline: none;

  &::-webkit-search-cancel-button {
    appearance: none;
  }
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #fff;
  border-top-width: 0;
  list-style: none;
  margin-top: 0px;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  text-align: left;
}

.suggestions li {
  padding: 0.5rem;
  background-color: #fff;
}

.suggestions .suggestion-active,
.suggestions li:hover {
  background-color: #c14953;
  cursor: pointer;
  color:white;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #fff;
}
